@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    height: 100vh;
    place-items: center;
}
.container{
    width: 400px;
    height: 400px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 50px auto auto auto;
    text-align: center;
    padding: 10px 0 20px 0;
}

h2{
    font-family: t;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    color: #25a8e0;
    font-family: 'Raleway', sans-serif;
    cursor: default;

}
table {
    margin: auto;
    margin-top: 5px;
}
.screen {
    background-color:#A9C9FF;
    color: black;
    font-size: 1.8rem;
    border: 1px solid #25a8e0;
    border-radius: 3px;
    width: 80%;
    height: 30%;
    padding: 10px;
    cursor: default;
}
input{
    outline: none;
    border: 1px solid transparent;
}

.keys{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 8px;
  padding: 10px;
  margin: auto;
}

.button{
    margin: auto;
    width: 70px;
    height: 60px;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #c4c4c4;
    color: #333;
    font-size: 1.5rem;
    cursor: pointer;
}
.button:hover {
 background-color: #eaeaea;
}
.operator {
    font-size: 1.5rem;
    background-color: lightgreen;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
}
.equal-sign {
    background-color: #25a8e0;
    border-color: #25a8e0;
    color: #fff;
    font-size: 1.5rem;

}

.equal-sign:hover {
    background-color: #4e9ed4;
}
.clear {
    background-color: #f0595f;
    border-color: #b0353a;
    color: #fff;
    width: 50px;
    height: 60px;
    font-size: 1.2rem;
    margin-right: 8px;
    border-radius: 3px;
    cursor: pointer;
}

.clear:hover {
    background-color: #f17377;
}
